#education-starter {
    font-size: 2.5rem;
    font-weight: 400;
    padding-bottom: 0;
}

#content {
    display: flex;
    justify-content: center;
}

#content div {
    padding: 1em;
    align-self: center;
}

#content-col1 {
    width: 100%;
}

#content-col2 {
    width: 75%;
}

#education-column {
    display: grid;
    width: 100%;
    justify-self: center;
    justify-items: center;
    grid-template-columns: 50% 50%;
    padding: 0 20%;
}

.education {
    width: 100%;
    font-size: 1.25rem;
}

#about-img {
    width: 75%;
    border-radius: 5em;
    justify-self: center;
}

p {
    font-size: 1.75rem;
    font-weight: 300;   
}

#content-2 {
    padding-top: 2em;
    padding-bottom: 5em;
}

#container {

    background: linear-gradient(
        0deg,
        #0C0C0C 0%,
        #47190f 25%,
        #8e3420 50%,
        #47190f 75%,
        #0C0C0C 100%);
}

@media only screen and (max-width: 1400px) {
    #education-column {
        padding: 0 15%;
    }
}
@media only screen and (max-width: 1200px) {
    #content {
        flex-direction: column;
    }
    #content-col2 {
        width: 100%;
    }
    #about-img {
        width: 45%;
    }
    #education-column {
        padding: 0 10%;
    }
}

@media only screen and (max-width: 768px) {
    #starter {
        font-size: 2rem;
        font-weight: 400;
    }
    p {
        font-size: 1.4rem;
        line-height: 1.75rem;
        font-weight: 300;
        width: 92.5%;
    }
    #about-img {
        width: 50%;
    }
    #content-2 {
        width: 92.5%;
    }
}

@media only screen and (max-width: 500px) {
    #about-img {
        width: 90%;
    }
}