/* index page */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#preloader-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#preloader-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(12, 12, 12);
    z-index: -100;
}
#spaceship {
    width: 150px;
}
#loading-text {
    font-size: 1.5rem;
    color: white;
    padding-top: 2em;
    font-weight: 200;
}

.fade-out {
    animation: fade 1.5s forwards;
}
@keyframes fade { /* Default fade-out (forwards); backwards for fade-in */
    from {opacity: 1;}
    to {opacity: 0;}
}
.fade-in {
    opacity: 0;
    animation: fade 1s ease-in-out backwards;
}

@keyframes bodyFade {
    from {opacity: 0;}
    to {opacity: 1;}
}
.body-fade-in {
    animation: bodyFade 2s forwards;
}

.launch {
    animation: moveUp 5s ease-in forwards;
}
@keyframes moveUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(-150vh); }
}

.bg-fade-in {
    animation: fade 1.5s ease-in-out forwards;
}


#hero-section {
    width: 100%;
}
#hero-featured {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    z-index: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    top: 5%;
}
#hero-featured::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25); /* Adjust opacity to control darkness */
    z-index: 1;
}
#featured-video-sizing {
    width: 100%;
}
#hero-name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}
#hero-name h1 {
    font-size: 5rem;
    line-height: 5.5rem;
    font-weight: 100;
    letter-spacing: 0.8rem;
    word-spacing: 0.5em;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);   
}
#hero-name span {
    background-color: rgb(12, 12, 12, 0.8);
    display: inline-block;
}

#short-about-section {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}
#homepage-about-left-col h1 {
    padding-bottom: 1em;
    font-size: 3rem;
}
#homepage-profile-pic {
    width: 20em;
    border-radius: 3em;
}
#homepage-about-left-col {
    padding-right: 3em;
    width: fit-content;
    justify-content: center;
}
#homepage-about-right-col {
    padding-left: 3em;
}
#homepage-about-right-col div div h2 {font-size: 2.25rem;}
#homepage-about-right-col div div h2 img {height: 2.75em;}

#call-to-action-section {
    display: grid;
    height: 60vh;
    position: relative;
}
#call-to-action-section h1 {
    width: 75%;
    justify-self: center;
    align-self: center;
}
#cta-buttons {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-self: self-start;
}
#cta-buttons a {
    padding: 1em 2em;
    border-radius: 1em;
    font-weight: 200;
    font-size: 2rem;
    line-height: 2.25rem;
    background-color: rgb(242, 97, 63);
    color: white;
    text-align: center;
    pointer-events: auto;
}
#cta-buttons a:hover {
    color: rgb(12, 12, 12);
    background-color: wheat;
    font-weight: 400;
    padding: 1em 2.5em;
}
/* End index page */


/* Breakpoints */
@media only screen and (max-width: 1700px) {
    #homepage-about-left-col h1 {font-size: 2.5rem;}
    #homepage-profile-pic {width: 15em;}
    #homepage-about-right-col div div h2 {font-size: 2rem;}
    #homepage-about-right-col div div h2 img {height: 2.25em;}

}
@media only screen and (max-width: 1500px) {
    #featured-video-sizing {width: 105%;}
}
@media only screen and (max-width: 1400px) and (min-height: 850px) {
    #featured-video-sizing {width: 140%;}    
}
@media only screen and (max-width: 1300px) {
    #homepage-about-left-col h1 {font-size: 2rem;}
    #homepage-profile-pic {width: 12.5em;}
    #homepage-about-right-col div div h2 {font-size: 1.5rem;}
    #homepage-about-right-col div div h2 img {height: 2em;}
    #call-to-action-section {
        height: fit-content;
        padding-bottom: 5em;
    }
    #call-to-action-section h1 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
    #cta-buttons a {
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
    #cta-buttons {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding-top: 2em;
    }    
}
@media only screen and (max-width: 1100px) {
    #featured-video-sizing {width: 120%;}
}
@media only screen and (max-width: 1100px) and (min-height: 1200px) {
    #featured-video-sizing {width: 250%;}
}
@media only screen and (max-width: 768px) {
    #featured-video-sizing {width: 150%;}
    #short-about-section {
        display: grid;
        height: auto;
    }
    #homepage-about-left-col {
        padding-right: 0;
    }
    #homepage-about-right-col {
        padding-left: 0;
        width: 100%;
    }
    #homepage-profile-pic {
        padding-bottom: 1em;
    }
}
@media only screen and (max-width: 550px) {
    #featured-video-sizing {width: 300%;}
    #hero-name h1 {
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 100;
        letter-spacing: 0.5rem;
    }
}