/*  TEST ELEMENTS - DELETE LATER */
#test {
    background-color: rgb(12, 12, 12);
    border: 10px solid rgb(72, 30, 20);
    padding: 1em;
}
#color-1 span {
    color: rgb(242, 97, 63);
    background-color: rgb(242, 97, 63);
}
#color-2 span {
    color: rgb(155, 57, 34);
    background-color: rgb(155, 57, 34);
}
#color-3 span {
    color: rgb(72, 30, 20);
    background-color: rgb(72, 30, 20);
}
#color-4 span {
    color: wheat;
    background-color: wheat;
}
/*  END TEST */

/* Site Header */
header {
    padding: 1em; /* Media Query */
    background-color: rgb(155, 57, 34);
    position: sticky;
    top: 0;
}
#nav-extra {color: rgb(255, 150, 127);}
.nav-link:hover {
    color: rgb(12, 12, 12);
    padding: 0.75em; /* Media Query */
    background-color: wheat;
    border-radius: 0.75em; /* Media Query */
    font-weight: 400;
}
.nav-link-mini-menu:hover {
    color: rgb(12, 12, 12);
    padding: 0.2em;
    background-color: wheat;
    border-radius: 10px;
    font-weight: 400;
}
#header-small-menu {
    justify-self: center;
    text-align: center;
}
#small-nav-menu-pic {
    width: 2em;
    border-radius: 10px;
    justify-self: center;
}
#dropdown-content {padding-top: 0.5em;}
#dropdown-content li {padding: 0.25em;}
/* End Site Header */

/* Misc Setup */
body {
    background-image: url('../../assets/images/space-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    display: grid;
    color: white;
    font-family: 'Outfit', sans-serif;
}
#body-container{
    height: 100vh;
    width: 70%;
    border-left: 0.25em solid wheat;;
    border-right: 0.25em solid wheat;;
    background-color: rgb(12, 12, 12, 1);
}
p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}
h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 150;
    color: wheat;
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;   
    font-weight: 200;
}
a:not(.nav-link, .nav-link-mini-menu, #nav-extra) {
    color: rgb(242, 97, 63);
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 400;
}
a:hover:not(.nav-link, .nav-link-mini-menu, #nav-extra) {
    text-decoration:underline;
}
div {
    justify-self: center;
}
.glow-indicator {
    position: fixed;
    bottom: -1em;
    left: 0;
    width: 100%;
    height: 1em;
    background: radial-gradient(circle, rgba(245, 222, 179, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
    box-shadow: 0 0 2em 1em rgba(245, 222, 179, 0.8);
    animation: pulsate 4s infinite;
    pointer-events: none;
    z-index: 1000;
    margin: 0;
}
@keyframes pulsate {
    0% {opacity: 0.4;}
    50% {opacity: 1;}
    100% {opacity: 0.4;}
}
/* End Misc */

/* Hero Section */
#hero-section {
    width: 100%;
    height: 100vh;
}
.welcome-text {
    padding-top: 2em;
    font-size: 4rem;
    line-height: 2.75rem;
    margin-bottom: 1em;
}
#intro-sub-hero-section {
    width: 50%;
    float: left;
    padding: 2em;
    height: 100%;
}
#featured-sub-hero-section {
    width: 50%;
    float: right;
    padding: 2em;
    height: 100%;
}
@media only screen and (max-width: 1400px) {
    #hero-section {
        height: 200vh;
    }
    #intro-sub-hero-section, #featured-sub-hero-section {
        display: block;
        float: none;
        width: 100%;
        height: 100vh;
    }
}
#intro-profile-pic {
    width: 12.5em;
    justify-self: center;
    border-radius: 3em;
}
#intro-top {
    width: 100%;
}
#intro-bottom {
    max-width: 450px;
    width: 100%; 
}
#intro-bottom img {
    height: 3em;
    display: inline;
}
/* End Intro Section */

/* Site Footer */
footer {
    display: none; /* Default hidden */
    padding: 1em;
    background-color: rgb(155, 57, 34);
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 200;
    text-align: center;
    margin: 0;
    border: 0;
}
/* End Footer */