/*  TEST ELEMENTS - DELETE LATER */
#test {
    background-color: rgb(12, 12, 12);
    border: 10px solid rgb(72, 30, 20);
    padding: 1em;
}
#palette-link {
    color:wheat
}
#color-1 span {
    color: rgb(242, 97, 63);
    background-color: rgb(242, 97, 63);
}
#color-2 span {
    color: rgb(155, 57, 34);
    background-color: rgb(155, 57, 34);
}
#color-3 span {
    color: rgb(72, 30, 20);
    background-color: rgb(72, 30, 20);
}
#color-4 span {
    color: wheat;
    background-color: wheat;
}
/*  END TEST */

/* Site Header */
header {
    padding: 10px;
    background-color: rgb(155, 57, 34);
    position: sticky;
    top: 0;
}
#nav-extra {color: rgb(255, 150, 127);}
.link-hover:hover {
    color: rgb(12, 12, 12);
    padding: 0.5em;
    background-color: wheat;
    border-radius: 10px;
}
.link-hover-menu:hover {
    color: rgb(12, 12, 12);
    padding: 0.2em;
    background-color: wheat;
    border-radius: 10px;
}
#header-small-menu {
    justify-self: center;
    text-align: center;
}
#small-nav-menu-pic {
    width: 2em;
    border-radius: 10px;
    justify-self: center;
}
#dropdown-content {padding-top: 0.5em;}
#dropdown-content li {padding: 0.25em;}
/* End Site Header */

/* Misc Setup */
body {
    background-image: url('../../assets/images/space-bg.png');
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;

    color: white;
    font-family: 'Outfit', sans-serif;
}
p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 300;
}
h1 {
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-align: center;
    font-weight: 500;
}
h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;   
    font-weight: 400;
}
div {
    max-width: 800px;
    justify-self: center;
}
.text span { /* Make text more readable: Add class=text and span around text*/
    background-color: rgba(12, 12, 12, 0.75);
} 
.glow-indicator {
    position: fixed;
    bottom: -10px;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: 10px;
    background: radial-gradient(circle, rgba(245, 222, 179, 0.5) 0%, rgba(0, 0, 0, 0) 80%);
    box-shadow: 0 0 40px 10px rgba(245, 222, 179, 0.8);
    animation: pulsate 4s infinite;
    pointer-events: none;
    z-index: 1000;
    margin: 0;
}
@keyframes pulsate {
    0% {opacity: 0.4;}
    50% {opacity: 1;}
    100% {opacity: 0.4;}
}
/* End Misc */

/* Intro Section */
#intro-wide {
    height: 100vh;
}
.welcome-text {
    margin-top: 2em;
}
#hero-section {
    height: 100vh;
}
.hero-top {
    height: 200px;
    align-self: center;
    align-content: center;
}
.hero-bottom {
    height: 200px;
    align-self: flex-start;
    align-content: center;
}
.intro-skills-section {
    max-width: 400px;
    width: 100%;
    position: relative;
}
.intro-skills-section div {
    height: 3.5em;
    align-items: center;
}
#home-profile-pic {
    width: 12.5em;
    justify-self: center;
    border-radius: 4em;
}
/* End Intro Section */

/* Featured Section */
#featured-section {
    height: 100vh;
}
.featured-top {
    height: 50px;
    align-self: center;
    align-content: center;
}
.featured-bottom {
    height: 400px;
    align-self: flex-start;
    align-content: center;
}
/* End Featured Section */

/* Site Footer */
footer {
    display: none; /* Default hidden */
    padding: 20px;
    background-color: rgb(155, 57, 34);
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    text-align: center;
}
/* End Footer */